<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <!--<connectionStrings>
    <add connectionString="Data Source=intvmsql; Initial Catalog=DB05TMS115; User id=pj05tms115; Password=tcstvm;" name="conn"/>
  </connectionStrings>-->
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <httpRuntime targetFramework="4.0" />
    </system.web>
  
  <connectionStrings>
    <add connectionString="Data Source=intvmsql; Initial Catalog=DB05TMS115; User ID=pj05tms115;Password=tcstvm;" name="conn"/>
  </connectionStrings>

</configuration>
